:root {
  --initPriceWidth: 0px;
}

.price-drop {
  height: auto;
  width: auto;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
}

.initial {
  margin:auto;
  padding: 0px 5px;
}

.initial-price-container {
  position: absolute;
  margin: auto 5px;
  transform-origin: right;
  animation: slide-to-right-and-scale-down calc(var(--duration)*1.25) var(--ebay-standard-ease) both;
}

.price {
  font-size: 24px;
  color: var(--ebay-red);
}

.new {
  animation: slide-and-fade-in-from-left calc(var(--duration)*1.25) var(--ebay-standard-ease) both;
}

.stripes {
    position: absolute;
    width: 100%;
}

.stripe {
  width: 100%;
  height: 4px;
  text-align:center;
  position: absolute;
  margin:auto;
  background-color: var(--ebay-yellow);
  transform-origin: left;
  animation: scale-in-from-left var(--duration) var(--ebay-standard-ease) both;
  z-index: 1;
}

.stripe:nth-child(2) {
  z-index: 2;
  background-color: var(--ebay-blue);
}

.stripe:nth-child(3) {
  z-index: 3;
  background-color: var(--ebay-yellow);
}

.stripe:nth-child(4) {
  z-index: 4;
  background-color: var(--ebay-red);
}

